<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="adamma.c4dhi.claid_android">


    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"  />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"  />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.settings.MANAGE_ALL_FILES_ACCESS_PERMISSION" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />


    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    
    <!-- Required permission for accessing coarse location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Required permission for accessing fine location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.BODY_SENSORS_BACKGROUND"/>

    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS" />


    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>

    </queries>

    <application>
        <receiver android:name="adamma.c4dhi.claid_android.collectors.battery.BatteryReceiver"
        android:enabled="true"
            android:exported="true"/>

         <receiver
            android:name="adamma.c4dhi.claid_android.Receivers.OnBootReceiver"
            android:enabled="true"
            android:exported="true">

            <intent-filter>
                <!-- REGISTER TO RECEIVE BOOT_COMPLETED EVENTS -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />

            </intent-filter>    
        </receiver>

        <receiver
            android:name="adamma.c4dhi.claid_android.Receivers.DeviceOwnerReceiver"
            android:description="@string/claid_device_owner_name"
            android:label="@string/claid_device_owner_name"
            android:permission="android.permission.BIND_DEVICE_ADMIN"
            android:exported="true">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_owner_receiver"/>
            <intent-filter>
                <action android:name="android.app.action.PROFILE_PROVISIONING_COMPLETE"/>
            </intent-filter>
        </receiver>


        <activity
            android:name="adamma.c4dhi.claid_android.Permissions.PermissionActivity"
            android:exported="true">

        </activity>

        <activity
            android:name="adamma.c4dhi.claid_android.Permissions.BatteryOptimizationExemptionActivity"
            android:exported="true">

        </activity>

    <!-- TODO adjust for Android 14 |health|fileManagement|dataSync -->
        <service android:foregroundServiceType="microphone|location|camera" android:name="adamma.c4dhi.claid_android.CLAIDServices.MaximumPermissionsPerpetualService" />
    </application>

</manifest>