# Use C++17 
build --cxxopt=-std=c++17
build --host_cxxopt=-std=c++17
build --per_file_copt=.*\.mm\$@-std=c++17
build --cxxopt=-Wno-error
build --cxxopt=-Wno-unknown-warning-option
# build --copt=-std=c17
# build --copt=-DGRPC_ARES=0
# build --host_cxxopt='-std=c++17'
# build --host_copt='-std=c17'
# build --action_env=BAZEL_CXXOPTS="-std=c++17" 
# build --copt=-UHAVE_GETSERVBYPORT_R
# build --per_file_copt=ares_getnameinfo.c@-UHAVE_GETSERVBYPORT_R