betterproto==2.0.0b7
black==25.1.0
click==8.1.8
grpcio-tools==1.70.0
grpclib==0.4.7
h2==4.2.0
hpack==4.1.0
hyperframe==6.1.0
isort==5.13.2
Jinja2==3.1.5
MarkupSafe==3.0.2
multidict==6.1.0
mypy-extensions==1.0.0
numpy==2.2.3
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.6
protobuf==6.30.0
python-dateutil==2.9.0.post0
six==1.17.0
stringcase==1.2.0
tomli==2.2.1
typing_extensions==4.12.2